[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
uvicorn = "*"
telethon = "*"
supabase = "*"
apscheduler = "*"
python-logging-loki = "*"
requests = "*"
grpcio = "*"
grpcio-tools = "*"
sentry-sdk = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.12"
